[package]
name = "dol-abi"
version = "0.1.0"
edition = "2021"

[features]
default = []
full-abi = []

[dependencies]
wasm-bindgen = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[dev-dependencies]
wasm-bindgen-test = "0.3"
